.card {
    width: 18rem;
    height: 18rem; 
    border: 0.11rem solid  rgba(109, 109, 139, 0.808);
    margin-bottom: 2rem;
    box-shadow: 0.15rem 0.15rem 0.4rem 0.1rem rgb(157, 159, 167);
}
.card-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
iframe {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.card-body {
    width: 18rem;
    height: 18rem;
    visibility: hidden;
    z-index: 100;
    background-color: rgba(10, 28, 90, 0.397);

    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease-in-out;
}
.card-body:hover {
    width: 18.5rem;
    height: 18.5rem;
    justify-self: center;
    align-self: center;
    margin-top: -0.25rem;
    background-color: rgba(10, 27, 90, 0.781);
    border: 0.11rem solid  rgba(109, 109, 139, 0.808);
    box-shadow: 0.15rem 0.15rem 0.4rem 0.1rem rgb(96, 99, 114);
    border-radius: .25rem;
    color: rgba(244, 245, 255, 0.911);
}  
.card-title {
    font-size: 2em;
    padding-left: 1.5em;
    padding-right: 0.35em;
    margin-bottom: 2em;
    color: rgba(244, 245, 255, 0.911);
    text-align: right;
    font-family: 'Play', sans-serif;    
}
.btn {
    color: rgba(244, 245, 255, 0.911);
}
.card-subtitle {
    font-size: 0.8rem;
}
.blockquote {
    font-size: 0.6rem;
}
.card-link {
    font-size: 2rem;
    padding-right: 0rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    text-align: right;
    color: rgba(244, 245, 255, 0.911);
    font-family: 'Play', sans-serif;
}

.modal {
    display: block;
}
.fade:not(.show) {
    opacity: 100;
}
.modal-content {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 223, 0.452);
}
.modal-body {
   max-width: 90%;
   max-height: 90%;
   flex: 0 0 auto;
   margin-top: 2rem;
   align-self: center;
   padding: unset;
   background-color: rgba(24, 24, 44, 0.452);
   border: 0.11rem solid rgba(173, 173, 173, 0.911);
   box-shadow: 1rem 1rem 5rem  rgb(14, 13, 26);
}
.modal-image {
    width: 100%;
    height: auto;
}
.airtable-embed {
    width: auto;
    height: auto;
    border: 0; 
}
.modal-header {
    width: 100%;
    align-self: center;
    padding: 0em 0.5em;
    background-color: rgba(8, 8, 36, 0.39);
    color: rgba(244, 245, 255, 0.911);
    font-family: 'Space Mono', monospace; 
}
.close {
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: right;
   
    min-width: 10ch;
    min-height: 44px;
    width: 0.4rem;
    height: 0.4rem

}
.buttonSpan {
    text-align: center;
    line-height: 1.7rem;
    padding-bottom: 0.3em;
    color: rgba(244, 245, 255, 0.911);
    font-family: 'Space Mono', monospace; 
    font-weight: lighter;
    font-size: x-large;
    transition: 220ms all ease-in-out;
    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease-in-out;
}
.buttonSpan:hover {
    background-color: rgba(255, 255, 255, 0.678);
    padding-right: 0.2em;
    padding-left: 0.2em;
    margin-right: -0.1em;
    font-size: xx-large;
    border: 2em rgb(121, 123, 139);
    box-shadow: 0.1em 0 0.1em 0.1em rgba(0, 0, 0, 0.212);
    color: rgba(43, 49, 83, 0.925); 
}


